    {{> header}}
    <!-- CONTENT -->
    <div class="container-curso" id="curso">
      {{#if cursoJson}} 
       
         {{this}}
     
      {{/if}}
      
      {{!-- {{#if curso}}
        {{#dataValues}}
        <h1>{{name}}</h1>
        {{/dataValues}}
      {{/if}} --}}
      
    </div>


   
    </div>
    {{> footer}}
   

