    <header>
      <a href="/" class="logo"
        ><img src="/images/logo.png" alt="logo" width="20%"
      /></a>
      <div class="right" id="right_nav">
        <a href="/" class="active">Home</a>
      </div>
      <script src="/js/header/script.js"></script>
    </header>