    <header>
      <a href="/" class="logo"
        ><img src="/images/logo.png" alt="logo" width="50%"
      /></a>
      <div class="right">
        <a href="/" class="active">Home</a>
        <a href="/users/login">Login</a>
      </div>
    </header>