<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Formulários de login e tela de cadastro de usuário com validaçao"
    />
    <meta
      name="keywords"
      content="validaçao, regex, usuario, login, cadastro"
    />
    <meta name="author" content="Ariane Morelato" />
    <meta name="theme-color" content="#0c813f" />
    <title>SGC</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=M+PLUS+1&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/all.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
  </head>
<body>
    {{{body}}}
    
    <script src="/js/script.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html>